/* Login */
.Main-app {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../component/FormMain/Account/Images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.Main-app2 {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url(../component/FormMain/Account/Images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.left {
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    width: 45%;
}

.right {
    display: flex;
    justify-content: end;
    margin: 0px;
    margin-right: 20px;
    padding: 0px;
    width: 45%;
}

.LoginContent {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 643px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.LoginBox {
    margin: 0px;
    padding: 0px;
    display: flex;
    width: 65%;
    height: 500px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
}

.LeftBox {
    display: flex;
    margin: 0;
    padding: 0;
    width: 45%;
    height: 495px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.LeftBoxTitle {
    margin: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LeftBoxContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.InputLogin {
    padding: 5px;
    padding-left: 7px;
    background-color: #f3f4f6;
    border-radius: 7px;
    margin: 10px;
    width: 70%;
    height: 35px;
    font-size: small;
    font-weight: bold;
    position: relative;
}
.InputLogin p{
    height: 11px;
    font-size: 12px;
    margin: 0;
    padding: 0px;
}
.subTitle {
    margin-top: 10px;
    width: 72%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.Checkbox {
    width: 50%;
    display: flex;
    align-items: center;

}

.Checkbox p {
    margin-left: 5px;
}
.LeftBoxBottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    font-size: small;
}
.LeftBoxFooter{
   
    width: 72%;
    
}
.IconButton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.RightBox{
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 55%;
    overflow: hidden;
    border-radius: 0px 30px 30px 0px;
    background-color: #f1949e;
}